<div class="heading">
  <table width="100%" border="0" cellpadding="0" style="margin-top:50px">
  <tr>
    <td style="padding-top:0px"><center><img src="../images/khanaybaz.png" width="681" height="134" /></center></td>
  </tr>
  <tr>
    <td><center><h1><b> BY </b></h1><center></td>
  </tr>
  <tr>
    <td><center><img src="../images/logo.png" width="284" height="150" /></center></td>
  </tr>
  </table>
  <br>
</div>
<center><a class="btn btn-lg btn-warning" ng-href="#!/menu" >MENU</a>
&nbsp;
<a class="btn btn-lg btn-warning" ng-href="#!/admin">ADMIN</a></center>